    
      /*-- colors --*/ 

  $main-text-color: #626687;  
  $main-suptitle-color: #F59E0B;  
  $main-title-color: #1B1C57;    


     

  /*-- fonts --*/  

  %lexend-400{ 
    font-family: 'Lexend', sans-serif;  
    font-weight: 400;
  }  
   
  %lexend-500{ 
    font-family: 'Lexend', sans-serif;  
    font-weight: 500;
  }  
   
  %lexend-600{ 
    font-family: 'Lexend', sans-serif;  
    font-weight: 600;
  } 
   
  %lexend-700{ 
    font-family: 'Lexend', sans-serif;  
    font-weight: 700;
  } 
   
  